@import "tailwindcss";

:root {
    --clr-primary: #2e7d32;
    --clr-secondary: #4caf50;
    --clr-light: #f4f9f4;
    --clr-dark: #1c2826;

    --clr-healthy: #388e3c;
    --clr-sick: #d84315;

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;
}

body,
html {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--font-body);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--text-4xl);
}

h2 {
    font-family: var(--font-heading);
    padding: 0;
    margin: 0;
}

h2 {
    color: var(--clr-secondary);
}

main {
    padding: 80px 40px;
}

header {
    padding: 40px;
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

img {
    border-radius: 9999px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

hgroup,
li {
    padding: 20px;
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
}

ul {
    padding: 12px 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 12px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
}

li:has(.sick) {
    border-color: var(--clr-sick) !important;
}
.sick {
    color: var(--clr-sick) !important;
}

li:has(.healthy) {
    border-color: var(--clr-healthy) !important;
}
.healthy {
    color: var(--clr-healthy) !important;
}
#buttons {
    display: flex;
    gap: 20px;
}

.fake-button-wrapper {
    position: relative;
}

.fake-button-wrapper:hover .fake-button {
    filter: brightness(1.2);
}

#image-selector {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.fake-button {
    background-color: var(--clr-healthy);
    color: var(--clr-light);
    padding: 8px 12px;
    border-radius: 999px;
    border: none;
    pointer-events: none;
    transition: 0.2s all;
}

.charts {
    margin-top: 20px;
}

.download {
    background-color: var(--clr-sick);
    color: var(--clr-light);
    padding: 8px 12px;
    border-radius: 999px;
    border: none;
}

.hidden {
    display: none;
}

canvas {
    width: 300px;
    padding: 20px
}

@media (prefers-color-scheme: dark) {
    body,
    html {
        background-color: var(--clr-dark);
        color: var(--clr-light);
    }
    hgroup,
    li {
        border-color: var(--clr-light);
    }
}
